@charset "utf-8";
body,section,aside,nav,footer,header,time, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body, button, input, select, textarea {font: 14px/1.5 arial, "microsoft yahei", "SimSun"; *line-height:1.5;-ms-overflow-style: scrollbar
}
h1, h2, h3, h4, h5, h6 {font-size: 100%
}
address, cite, dfn, em, var {font-style: normal
}
small {font-size: 12px
}
ul, ol {list-style: none
}
a {text-decoration: none
}
a:link    {color:#333;}
a:visited {color:#777;}
a:hover   {color:#FF6600; text-decoration:underline;}
/*a:active  {color:#00F;}*/
button, input, select, textarea {
	font-size: 100%
}
input[type=text]{
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#D4D4D4;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dedede;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dedede;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dedede;
}
input[type=text]:focus{ border:1px solid #FF6600; color:#333;
}
table {border-collapse: collapse;border-spacing: 0
}
#page, #header, #content, #footer {margin-left: auto;margin-right: auto
}
img{ border:none;
}
.hidden {display: none;
}
.fL {float: left;
}
.fR {float: right;
}
.clearfix{*zoom:1;}
.clearfix:after {content: "";height: 0;visibility: hidden;display: block;clear: both;
}
.clear{ clear:both;}
.yahei {font-family: "microsoft yahei", arial, "黑体","SimSun";
}
.lazyImg{  background:url(../images/loading.gif) no-repeat center center;}
.c_f60,
.c_f60:link,
.c_f60:visited,
.c_f60:hover,
.c_f60:active{ color:#f60;}

body{ background-color:#efefef; color:#aaa; 
}
.wp {width: 980px;margin: auto;clear:both;
}
.icon{background:url(../images/icon.png) no-repeat; }
.icon_QR{ background-position:0px 0px; }
.icon_weibo{ background-position:-20px 2px; }
.icon_qq{ background-position:-38px 2px; }
.icon_man{ background-position:-56px 2px; }
.icon_letter{ background-position:-88px 3px; }
.opacity6{filter:alpha(opacity=60); opacity:0.6;}
.opacity8{filter:alpha(opacity=80); opacity:0.8;}
.imgBorder{border:1px solid #dfdfdf; -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease; transition: all .3s ease;}
a:hover .imgBorder{ -ms-transform:scale(1.04,1.04); -webkit-transform:scale(1.04,1.04); transform:scale(1.04,1.04);}
.ellipsis{ white-space:nowrap;  -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); text-overflow:ellipsis; overflow:hidden; z-index:2; }
.title{ height:39px; line-height:39px; font-size:25px; color:#333; border-bottom:1px solid #eeeeee; }
.title a{ color:#333; text-decoration:none;}
.title a.c_f60{ color:#f60;}
.title a:hover{ color:#ff6600; text-decoration:none;}
.title a em{ font-size:18px; color:#ff6600; margin-left:8px;}
.title .line{ display:inline-block; float:left; width:5px; height:100%; background-color:#ff6600; margin-right:10px;}
.title .pen,.title .bar,.title .gift, .title .info, .title .info2 , .title .movie ,.title .paper,.title .paper2{ display:inline-block; float:left; width:28px; height:28px; position:relative; top:5px;  margin-right:5px;}
.title .pen{  background-position: -3px -38px;}
.title .bar{  background-position: -3px -77px; }
.title .gift{ background-position: -3px -110px; }
.title .info{ background-position: -34px -130px; }
.title .info2{ background-position: -177px -134px; }
.title .movie{ background-position: -67px -130px;  }
.title .paper{ background-position: -107px -130px;  }
.title .paper2{ background-position: -142px -128px;  }

.titOrange,.titOrange a,.titOrange a em,.titGreen a:hover em,.titBlue a:hover em{ color:#ff6600; }
.titGreen,.titGreen a,.titGreen a em{ color:#77bb00; }
.titBlue,.titBlue a,.titBlue a em{ color:#00aaff; }

/*页眉 s*/
.site_nav{ width:100%; height:39px; line-height:39px; color:#aaa; border-bottom:1px solid #e9e9e9;  background-color:#f9f9f9; position:relative; }
.site_nav .weixin{ display:block; position:relative;}

.site_nav .weixin .show{ display:none; position:absolute; line-height:0;}
.site_nav .icon{ display:inline-block; width:18px; height:18px; margin-right:5px; position:relative; top:3px; _top:10px;  _float:left;}
.site_nav .icon_QR{margin-right:10px; }

.site_nav .fR ul{ _float:right; }
.site_nav .fR li{ float:left; line-height:39px; padding:0 3px; position:relative; }
.site_nav a{color: #aaa;}
.site_nav a:hover{ color: #ff6600; text-decoration:none;}
.site_nav a:hover .icon_weibo{ background-position:-20px -17px; }
.site_nav a:hover .icon_qq{ background-position:-38px -17px; }
.site_nav a:hover .icon_man{ background-position:-57px -17px; }
.site_nav a:hover .icon_letter{ background-position:-88px -16px; }
.site_nav .user{ display:inline-block; height:100%; position:relative; margin-right:10px; z-index:1;}
.site_nav .user .trailer2{ display:inline-block; line-height:0; font-size:0; border-width:5px; border-style: solid dashed dashed dashed ;  border-color: #bbb transparent transparent transparent;   position:relative; top:3px; right:0px;}
.site_nav .n:hover .trailer{   border-color: #f60 transparent transparent transparent; }
.site_nav .user_more{ display:none; width:90px;  background-color:#FFF; position:absolute; top:40px; right:0; border-left:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9; z-index:999999999;}
.site_nav .user_more li{ display:block; width:100%; padding:0;}
.site_nav .user_more li a{ display:block; width:100%; height:35px; line-height:35px;  text-align:center;}
.site_nav .user_more li a:hover{ background-color:#e9e9e9;}


.logoAndSreach{ width:100%; height:80px; padding-top:20px; background-color:#f9f9f9;}
.searchBox{width:500px; line-height:30px; }
.txt_kw{float:left;  display:block; width:392px; height:18px; line-height:18px; padding:10px 8px; border:1px solid #e0e0e0; background-color:#FFF; border-radius:4px 0 0 4px; outline:none; _color:#dedede; }
.sreach{ float:left; width:90px; height:40px; background:url(../images/icon.png) no-repeat -39px -40px; cursor:pointer; border:none;}
.sreach:hover{filter:alpha(opacity=90); opacity:0.9;}
.hotLink{ display:block; float:left; width:100%; height:35px; line-height:35px; overflow:hidden;}
.hotLink a{color: #aaa; margin-right:5px; }
.hotLink a:hover{color: #ff6600; }

.nav{ width:100%; height:50px; line-height:50px; background-color:#FFF;border-bottom: 2px solid #ff6600 }
.nav a{ display:inline-block; float:left; width:95px; height:100%; text-align:center; color:#333; font-size:20px; text-decoration:none; margin:0; }
.nav a.sNavItem{float:right;font-size: 14px;}
.nav a.on,.nav a:hover{color:#FFF; background-color:#ff6600; -webkit-transition: all 200ms ease-out 0s; -moz-transition: all 200ms ease-out 0s; -ms-transition: all 200ms ease-out 0s; -o-transition: all 200ms ease-out 0s; transition: all 200ms ease-out 0s;}
/*广告 s*/
.ad980{ height:90px; margin-top:20px; overflow:hidden; }
/*页脚 s*/
.footer{ width:100%; margin-top:20px;  background-color:#212121; font-size:12px; font-family:"宋体"; color:#999;}
.footer .dlList,.footer .friendLink ,.footer .Copyright{ width:790px; margin:auto; line-height:22px;}
.footer .dlList a,.footer .friendLink a,.footer .Copyright a{ color:#999;}
.footer .dlList a:hover,.footer .friendLink a:hover,.footer .Copyright a:hover{ color:#f60;}
.footer .dlList dl{ float:left; width:130px; line-height:22px; }
.footer .dlList dt{ margin:16px 0 22px 0; }
.footer .dlList dl.last{width:110px; overflow:hidden; }
.footer .dlList dl.last dd{float:left;}
.footer .dlList dl dt,.footer .dlList dl dt a:link{ color:#26a9e0; font-weight:bold;}
.footer .weibo, .footer .weibo_qq{ display:inline-block; width:44px; height:44px;  overflow:hidden; font-size:0;}
.footer .weibo{ background-position:-133px -38px;}
.footer .weibo_qq{ margin-left:20px;  background-position:-182px -38px; }
.friendLink{ padding-top:18px;}
.friendLink dt{float:left; width:65px; font-weight:bold;}
.friendLink dd{float:left; width:725px; overflow:hidden;}
.friendLink dd li{ float:left; margin:0 3px; }
.Copyright{ padding:15px 0 25px 0; text-align:center;}

/*分页 xiaojun.zhang*/
.pagination {width:auto;text-align: center; _margin-top:-13px;_float:left;margin-top:40px;/*vicky*/_height:0px;margin-bottom:20px;}
.pagination a {text-decoration: none;border: solid 1px #e9e9e9; color: #000;background:#fff;}
.pagination a, .pagination span { padding:5px; margin-right: 5px; margin-bottom: 5px; width: 25px; height: 22px; line-height: 22px;}
.pagination .current { display:inline-block; height:28px; padding:0 2px; line-height:28px; background: #FF7520;color: #fff;margin-left:0px;}
.pagination .prev, .pagination .next{background: url(../images/icon.png) left -292px no-repeat;width: 56px;border: 1px solid #e9e9e9;}
.pagination .current.prev, .pagination .current.next{color:#999; }

/*返回顶部悬浮框*/
* html,* html body{background-image:url(../images/4076addfc80542f5948dbb81275bac25.gif);background-attachment:fixed}
.goTopWp{}
.goTopBox{ color:#999999; font-size:14px; position:fixed; bottom:20px; right:10px; text-align:center;   _position: absolute;
_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-238)); _right:10px; z-index:9999999; }
.goTopBox h3{width:118px; height:30px; line-height:30px; background-color:#c4c4c4; color:#FFF; font-size:16px; font-family:"微软雅黑", "宋体"; border-top-right-radius:5px; border-top-left-radius:5px;}
.goTopBox .img{ width:116px; height:138px; padding-top:20px; border:1px solid #c4c4c4; border-top:none; background-color:#FFF; line-height:30px;}
.goTopBox .img img{ display:block; margin:0 auto;}
.goTopBox .link_goTop{ /*display:none;*/ cursor:pointer; margin-top:-1px;}

.fixed{ position:fixed; top:0;  _position: absolute; _top: expression(eval(document.documentElement.scrollTop)); }

/*第二种页头，如电影详情页,html,css结构跟个人中心的一样.略修改一点*/
.top{ width: 100%; height:54px; background-color:#2f3336;}
.menu{ width: 1000px; margin: 0 auto;}
.logo{ float: left; width: 171px; height: 54px;}
.menu_c{ float: left; margin-left: 20px;}
.menu_c a, .menu_a span{ float: left; height: 54px; padding: 0 10px; display: inline-block; font-size: 15px; color: #fff; line-height: 60px; _line-height: 54px;}
.menu_c a.current{ background: #f60}
.menu_c a:hover{ background: #f60; text-decoration:none;}
.m_more{ float: left; width: 52px; display: inline-block; padding-right:3px;  position: relative; border-left:1px solid #2f3336; border-right:1px solid #2f3336;}
.menu_a{width:55px;  display: inline-block; position: relative; _width:56px;}
.menu_a span{padding: 0 2px 0 10px;}
.a_trig{display: inline-block;width: 0;height: 0;overflow: hidden;line-height: 0;font-size: 0;border-width: 5px 5px 0;
border-style: solid;border-right-color: transparent;border-left-color: transparent;border-bottom-color: transparent;
_border-style: solid dotted dotted dotted;vertical-align: top; margin: 30px 0 0 0px;_margin: 25px 0 0 0px; line-height: 31px; color: #fff;}
.hover_show{ display:none; width: 55px; _width: 59px; position: absolute; top: 54px; left: -1px; background: #fff; border: 1px solid #000; border-top: none; z-index:999999999;}
.hover_show a{ width: 100%; height: 30px; display: block; text-align: center; line-height: 30px;}
.hover_show a:hover{ background: #F2F2F2;}

.search{ float: left; height: 26px; margin: 15px 20px 0 20px; _margin: 15px 10px 0 10px;}
.sear_input{ float: left; height: 26px; width: 175px; border:none;  color: #808080; background: url(../images/input_05.png) no-repeat;*_background:none;_filter:progid:DXImageTransForm.Microsoft.AlphaImageLoader(src='/Images/person_images/input_05.png',sizingMethod='crop');   line-height: 26px; padding-left: 10px;}
.search input[type=text]:focus{ border:none; outline:none;}
.sear_butt{float: left; height: 26px; width: 34px; border:none; background: url(../images/input_06.png) no-repeat;*_background:none;_filter:progid:DXImageTransForm.Microsoft.AlphaImageLoader(src='/Images/person_images/input_06.png',sizingMethod='crop'); }

.user_info{float: right; width:168px; height: 30px; line-height: 30px; margin-top:10px; margin-right: 10px; }
.after_landing{ float:left; display:block; width:168px;  background: url(../images/after_landingbg.png) no-repeat;  position: relative;}
.after_landing .u_name{ float:left; display:block; width:80px;}
.after_landing .u_name img{ float:left; display:block; width:27px; height:30px; margin-right:5px;}
.after_landing .u_name span{ float:left; display:block; width:38px; height:30px; font-size:12px;white-space:nowrap;  -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); text-overflow:ellipsis; overflow:hidden;}
.after_landing .quick_news{ float:right; display:block; width:55px; overflow:hidden; color:#FFF; font-size:12px; text-decoration:none; }
.after_landing .quick_news:hover{ color:#f60; }

.login_before{line-height:35px;width:80px;float:right;}
.login_before a{color:#f60;}

.user_more{ display:none; position: absolute; top:32px; left:0px; z-index:999999999; }
.u_detail{border: 1px solid #000; border-top: none; background: #fff; padding-top:8px;}
.u_detail li{ height: 30px; width:100%;border-bottom:1px solid #E6E6E6; }
.u_detail li a{ height: 30px; display: block; padding:0 10px; line-height: 30px; text-align:center;}
.u_detail li a.message{background: url(../images/u_icon.png) 60px 7px  no-repeat;}
.u_detail li a.set_up{background: url(../images/u_icon.png) 60px -22px  no-repeat;}
.u_detail li:hover{ background: #F2F2F2; }
.u_detail li:hover a{color: #f60}

.selected .menu_a{ background: #fff;}
.selected .menu_a span{ color:#333;}
.selected .u_name .c_f60 span{ background-color:none; color:#f60;}
.selected b.a_trig{ color: #000;}


/**预告片弹出播放**/
#swfWp{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:999999999; _position:absolute; _left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop)); }
#swfWp .bg{ width:100%; height:100%; _height:1000px; position:absolute; top:0; left:0; background-color:#000; filter:alpha(opacity=60); opacity:0.6; } 
#swfWp .swfBox{ width:800px; height:534px; position:absolute;  left:50%; top:50%; margin-left:-400px; margin-top:-267px; _display:inline;  _margin-top:133px;}
#swfWp #close{ position:absolute; top:0px; right:-40px; cursor:pointer; }

.clearMarTop{ margin-top:0;}

/*弹出登陆对话框,用原来的*/
.mark_51{ display:none; background:#000; opacity:0.5; filter:alpha(opacity=60);  width:100%; height:100%; position:fixed; top:0; left:0; z-index:999999999; _position:absolute; _left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop)); _height:1080px; }
.Malogin_box{position: relative;width: 450px;height:400px;margin: 0 auto;z-index: 100; color:#333; background-color:#FFF;}

.Malogin_box .login_title {height: 30px;line-height: 30px;padding:0 10px;font-size:15px;background-color:#efefef;}
.Malogin_box .login_close{background:url(../images/colse.png) no-repeat;width:11px;height:11px;  float:right; margin-top:10px;}
.Malogin_box  .warp_b {margin: 0 auto;width:auto;padding:20px;height:auto;}
.Malogin_box  .warp_b table{ margin:0 auto; }
.Malogin_box .hr{ display:block; height:0; border-bottom:1px solid #efefef; margin:20px 0 15px 0;}
.Malogin_box  .warp_b table tr {position: relative;}
.Malogin_box  .warp_b table .td1{ padding-top:8px; padding-right:8px;}
.Malogin_box  .warp_b table .line_3{ padding:15px 0;}
.Malogin_box .txt_input {display:block;width: 288px; line-height:14px; padding:9px 5px; border:1px solid #e0e0e0; background-color:#FFF; border-radius:4px; outline:none;}
.Malogin_box .txt_input[type=text]:focus,
.Malogin_box .txt_input[type=password]:focus{ border:1px solid #f60; color:#333;}
.Malogin_box .red-error {color: #F00;font-weight:normal;padding:5px 0px 0px 5px;}
.Malogin_box #loginByself {margin-right: 5px;}
.Malogin_box .line_3 label {float:left;font-size: 13px;margin-left: 6px;}
.Malogin_box .line_3 label input { margin-right:5px;}
.Malogin_box .line_3 a {float:right;color: #f60;}
.Malogin_box .toLoginBton{ display:inline-block;float:left;width: 140px;height: 38px;cursor: pointer;background:url(../images/icon.png) no-repeat 0 -208px ;}
.Malogin_box .toLoginBton .loginBton { text-indent: -999em;font-size:0; border:none;}
.Malogin_box .toReg{float:right;display:inline-block;width: 140px;height: 38px;text-indent: -999em;margin-bottom: 10px;cursor: pointer;background:url(../images/icon.png) no-repeat -140px -208px ;border:none;}
.Malogin_box .login_3 {font-size: 14px;margin-left: 30px;margin-bottom:15px;}
.Malogin_box .warp_b ul li {float: left;width: 105px;height: 35px;margin-right: 20px;background: url(../images/icon.png) no-repeat;cursor: pointer; _display:inline;}
.Malogin_box .warp_b ul li.login_sina {background-position: -30px -170px;}
.Malogin_box .warp_b ul li.login_qq {background-position: -150px -170px;}

.Madfms{ display:none; position:fixed; top:50%; left:50%; margin-left:-225px; margin-top:-200px;display:none;z-index:999999999; _position:absolute; _left:expression(eval(document.documentElement.scrollLeft+450));_top:expression(eval(document.documentElement.scrollTop+400));  }
/*弹出对话框 e*/

/*列表页滚动分页加载*/
.pagination a.page_3{ color:#FFF; background-color:#ff6600; }