/* 原来扒过来的 Start */
/*.ccaptcha
{
	padding-left: 350px; 
	height: 1000px;
}*/
/**/

ol, ul {
    list-style: outside none none;
}

.button, #main-content table tfoot td .bulk-actions select, .pagination a.number, form input.text-input, form textarea, form .wysiwyg, form select, .dp-popup {
    border-radius: 4px;
}

form input.text-input, form select, form textarea, form .wysiwyg {
    /*background: #fff none repeat scroll 0 0;*/
    border: 1px solid #d5d5d5;
    /*color: #333;*/
    font-size: 13px;
    /*padding: 6px;*/
}

form select {
    background: #fff none repeat scroll 0 0;
    margin: 5px 0;
    padding: 4px;
}

element.style {
    float: left;
    /*width: 80px;*/
    cursor: pointer;
}

form label.verify img {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 1px;
}


form input.text-input, form select, form textarea, form .wysiwyg {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    /*color: #333;*/
    font-size: 13px;
    padding: 6px;
}

form .min-input {
    width: 8% !important;
}

.tan_right
{
	padding:0px 10px;
	line-height: 30px;
	margin-top: 10px;
	margin-left:10px;
	_margin-left:10px;
	border:#FC3 1px solid;
	background:#FFC;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position: absolute;
}

form label.verify img {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 1px;
}

/* 原来扒过来的 End */

/*基本清零*/
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{
    margin: 0;
	padding: 0;
	font-style:normal; }
.clr:after{content:'';display:block;height:0;clear:both;}
.clr{*zoom:1;}
ul,li{
	list-style:none;}
img{ border:none;}
input,button,select,textarea{outline:none}
textarea{resize:none}
a{
	text-decoration:none;}

/* 设置HTML5元素为块 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;padding:0px; margin:0px; border:none;}

/* 超出隐藏 */
.overflow{ overflow:hidden;} 

/* 点击去除阴影 */
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
a{cursor:pointer;
color:#333;
}       
		          
/* 基础样式 */
.fl{ float: left; }
.fr{ float: right;}
.db{ display:block;}
.w12{width:1200px;
margin:0 auto;}
div{
	background:none;}
/*开始*/
body{
	margin:0 auto;
	background:url(../images/bg.jpg) center top;
	font-size:14px;
	font-family:"微软雅黑", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#666;}
header{
	background:#fff;
	width:100%;
	height:auto;
	}
.logo{
	padding:20px auto 20px 20px;}
.logofr{
	margin-top:25px;
	padding-right: 20px;
color: #666;
line-height: 25px;
text-align: right;}
.logofr a{
	color:#666;}
.header{
	margin:0 auto;
	height:98px;
	}
.head_border{
	width:100%;
	background:url(../images/top.png) repeat-x;
	height:11px;}
.login{
	height:60px;
	line-height:60px;
	padding-right:10px;
	color:#333;}
.logbtn{
	color:#333;
width: 76px;
line-height: 40px;
margin-top: 8px;
height: 40px;
text-align: center;
border: solid 1px #333;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}	



.main{
	background:#FFF;
	padding:0;
	height:auto;}
.title{
	width:100%;
	text-align:center;
	height:60px;
	font-size:20px;
	line-height:60px;
	}
.title1{
	width:50%;
	color:#fff;
	background:#007dcd;}
\
a.title1:active{
	color:#fff;}
.title2{
	width:50%;
	color:#666;
	background:#f3f3f3;
	}

a.title2:active{
	color:#333;}
.tit2{
	width:100%;
	height:auto;}
.tit2 span{
	display:block;
	width:50%;
	height:20px;
	background:url(../images/arr.png) center top no-repeat;}
.step{
	height:146px;
	background:url(../images/1.jpg) center 55% no-repeat;}
.step2{
	height:146px;
	background:url(../images/2.jpg) center 55% no-repeat;}
.step3{
	height:146px;
	background:url(../images/3.jpg) center 55% no-repeat;}
.inputsec{
width: 840px;
margin: 0 auto;
background: #fff;
padding: 0 0 100px 360px;
}
.inputsec ul,.inputsec ul li{
	display:block;
	min-width:400px;}
.inputsec ul span {font-weight: bold; color:#333;}
.inputsec ul li{
	clear: both;
zoom: 1;
overflow: visible;
	height:54px;
	line-height:50px;
	color:#333;}
.inputsec ul li label{
	display:block;
	width:100px;
	text-align:right;}
.txt-m {
background: #fff none repeat scroll 0 0;
border-radius: 4px;
margin:10px 12px 0 0;
height: 28px;
line-height: 28px;
padding: 2px 3px;
padding-left: 15px;
border: 1px solid #dedede;
color: #666;
width: 292px;
font-size: 14px;}
.yzm{
	margin:10px 12px 0 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #dedede;
	width: 310px;}
.txt-y,.txt-j{
border-radius: 4px;
line-height: 28px;
height: 28px;
padding-top: 2px;
padding-left:15px;
color: #666;
width: 160px;
border:none;
font-size: 14px;}
.chg{display:block;
color:#007dcd;}
.chg1 {display:block;
color:#fff;}
	color:#249deb;}
a.chg:active{
	color:#333;}
.mt2{
	margin-top:2px;}
.mr2{
	margin-right:3px;}
.msg-normal{
	color:#777;}
.msg-error{
	color:#e82020;}
.msg-info{
	color:#e82020;}
.yzm2{
	background:#f5f5f5;
	margin:10px 12px 0 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #dedede;}
.txt-j{
	background:#f5f5f5;}
.send{
width: 83px;
height: 32px;
line-height: 32px;
text-align: center;
margin: 10px 0 0 0;
border: 1px #dedede solid;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;}
.send1 {background: #1C8DD6}
a.send:active{
	border: 1px #dedede solid;
	color:#333;}
.next{
	margin-top:8px;
	width:300px;
	height:42px;
	line-height:42px;
	text-align:center;
	color:#fff;
	font-size:16px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background:#1C8DD6;}
a.next:active{
	background:#19861d;}

/*注册成功*/
.success{
	margin:0 auto;
	width:426px;
	height:168px;
	padding-bottom:100px;
	}
.success ul,.success ul li{
	display:block;
	width:426px;
	text-align:center;
	color:#333;}
.success ul li{
	height:56px;
	line-height:56px;
	overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  }
.suc1{
	background:url(../images/yes.png) 26% center no-repeat;
	font-size:20px;}
.success ul li em{
	color:##007dcd;
	}
.mr3{
	margin-right:10px;}
.suc2{
	width:300px !important;
	height:36px !important;
	padding:10px 63px;}
.mr4{
	margin-right:30px;
	_margin-right:15px;}
.success ul li a{
	display:block;
	width:135px;
	line-height:36px;
	font-size:16px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	color:#fff;
	background:#007dcd;}





/* 原来的 */


/*a
{
	color:#f00;
	text-decoration:none;
}*/


a.blk
{
	color:#333;
	text-decoration:none;
}

strong
{
	font-weight: bold;
	color: #f00;
}


.clear
{
	clear: both;
}
				
.align-left
{
	float: left;
}
				
.align-right
{
	float: right;
}


.top
{
	width:80%;
	height:90px;
	margin:0px auto;
	padding-top:20px;
}
.top .re_logo
{
	padding-left:20px;
	float:left;
}
.top .re_right
{
	padding-right:20px;
	font-size:12px;
	color:#333;
	line-height:25px;
	text-align:right;
	float:right;
}



.content-box
{
	width:80%;
	margin:0px auto;
	padding-bottom:50px;
}

.content-box-header {
                margin-top: 1px;
                height: 40px;
                }


ul.content-box-tabs
{
	width:50%;
	float:left;
	padding:0px !important;
	margin: 0px !important;
}
.cont_right
{
	width:40%;
	float:right;
	padding-top:10px;
	margin-right:20px;
	line-height:20px;
	font-size:12px;
	text-align:right;
}
.tab-content p
{
	display:block;
	padding-top:5px;
	padding-left:5%;
}
ul.content-box-tabs li
{
	float: left;
	margin-right:5px;
	padding: 0 !important;
	background-image: none !important;
}
                
ul.content-box-tabs li a
{
	color: #333;
	padding: 8px 20px;
	display: block;
	margin: 0px;
	border:#ccc 1px solid;
	border-bottom: 0;
	text-decoration:none;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}


                
ul.content-box-tabs .current
{
	background: #fff;
	border-bottom: 0;
	margin: 0;
	margin-right: 5px;
	font-weight: bold;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.content-box-content
{
	padding:40px 80px;
	font-size: 13px;
	border:#ccc 1px solid;
	border-top:0px;
	background:#fff url(../images/ps_bg.jpg) repeat-x left 40px;
}
.content-box-cont
{
	border: 1px solid #ccc;
	border-top:none;
}



.tan_fla
{
	padding:0px 10px;
	line-height: 30px;
	border:#ffa8b2 1px solid;
	margin-top: 10px;
	background:#ffeeef;
	margin-left:10px;
	_margin-left:10px;
	font-size:12px;
	color:#f00;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	position: absolute;
}

.tan_right
{
	padding:0px 10px;
	line-height: 30px;
	margin-top: 10px;
	margin-left:10px;
	_margin-left:10px;
	border:#FC3 1px solid;
	background:#FFC;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position: absolute;
}
.tan_right_1
{
	padding:0px 10px;
	line-height: 30px;
	margin-top: 1px;
	margin-left:157px;
	_margin-left:10px;
	border:#FC3 1px solid;
	background:#FFC;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position: absolute;
}

.ps
{
	width:100%;
	padding:10px 0px 30px 0px;
	line-height:24px;
}

.content-box-header {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
                }
				
.closed-box .content-box-header {
                -moz-border-radius-bottomleft: 6px;
                -moz-border-radius-bottomright: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
                }

ul.content-box-tabs li a.current {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border:#ccc 1px solid;
				border-bottom:0px;
                }


/*************** Forms ***************/

form label
{
	
	float:left;
	width:100px;
	/*line-height:30px;*/
	padding:0px 20px 0px 0px;
	text-align:right;
}

form label.verify {
	padding: 0;
	margin: 2px 10px 2px 0;
	width: 90px;
	text-align: right;
}
form label.verify img {
	padding:1px;
	border:1px solid #cccccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

form fieldset
{
	padding:20px;
	border:1px solid #eee;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin:0 0 20px;
}
                
form p small
{
	font-size: 0.75em;
	color: #777;
}
form table,
form tr,
form td
{
	background:#fff;
}

			
form input.text-input,
form select,
form textarea,
form .wysiwyg {
                padding: 6px;
                font-size: 13px;
                background: #fff;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 25% !important;
                }
                
form .min-input {
                width: 8% !important;
                }

form legend 
{
	padding:7px 30px;
	font-weight:bold;
	color:#000;
	font-size:14px;
	border:1px solid #eee;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-bottom:0 !important;
	margin-bottom:20px;
}

form textarea {
                width: 97.5% !important;
                font-family: Arial, Helvetica, sans-serif;
                }
                
form select
{
	padding: 4px;
	margin:5px 0px;
	background: #fff;
}
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }
/*按钮*/
.button {
				font-family:"微软雅黑",Verdana, Arial, sans-serif;
                display: inline-block;
                background: #484848 !important;
                border: 1px solid #282828 !important;
                padding: 4px 20px 4px 20px !important;
                color: #fff !important;
                font-size:14px !important;
                cursor: pointer;
                }
                
		.active{
			border:solid 1px #2bf666;
		}

		.error{
			border:solid 1px red;
		}

		.remind{
			display:none;
			font-size:12px;
			color:#aaa;
		}
/*.button:hover
{
	text-decoration: underline;
}*/
                
.button:active
{
	padding: 5px 7px 3px 7px !important;
}

/*弹出层*/
.black_overlay
{ 
	display: none; 
	position:fixed; 
	top:0px; 
	left:0px;
	bottom:0px;
	width:100%; 
	height:100%; 
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.6; 
	opacity:.60; 
	filter: alpha(opacity=60); 
} 
.white_content
{ 
	display: none; 
	position: absolute; 
	top:40%; 
	left:20%; 
	width:800px; 
	height:500px; 
	padding:20px;
	line-height:24px;
	font-size:12px;
	color:#555;
	background-color: white;
	border:#eee 5px solid;
	z-index:1002; 
	overflow: auto; 
}
.white_content strong
{
	color:#333;
}

/*协议*/
#toShow0,#toShow1,#toShow2,#toShow3{
	display: none;
	position: absolute;
	z-index: 999;
}
.order{width:750px;border:5px solid #ccc;background:#f3f3f3;padding:10px; font-size:12px;line-height:22px;color:#333;}
.close { position:absolute; top:10px;right:10px;}
.pb15{padding-bottom:15px;}
.t14{font-size:14px;}
b,.b{font-weight:700;}
.c1{color:#333;}
.c2{color:#666;}
.c3{color:#f60;}
.t_c{ text-align:center;}
.p10{padding:10px;}
.h10{height:10px;font-size:0; overflow:hidden;}
.article{width:728px;height:300px;overflow-y:scroll;margin:auto;line-height:180%;}
.bd1{border:1px solid #ccc;}
.type{padding-left:200px;}
.pr{ position:relative;}
.type1,.type2{width:146px;height:31px;border:1px solid #80b1d6;background:#ddeffc;float:left;margin-right:10px;padding-left:10px;font-size:14px;line-height:31px; vertical-align:middle;_height:26px;_padding-top:7px;}
.type input{ vertical-align:middle;}
.type2_note{ position:absolute; top:15px;right:65px;}
